#preservation-header {
    margin-top: 0vh; 
    margin-bottom: 1vh; 
    text-align:center;
    background-image: url('../images/preservation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:darkblue;
}
