*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #607d8b;
 
}

.bun.head {
    position: relative;
    width: 120px;
    height: 120px;
    border: 6px solid transparent;
    -webkit-border-radius: 55% 55% 45% 45%;
    border-radius: 50% 50% 45% 45%;
    background: #ffcc80;
    transform: 
        translateX(60px)
        translateY(25px);
    z-index: 60;
}
.bun.head-dots {
    position: absolute;
    left: 47px;
    height: 48px;
    top: 1px;
    width: 14px;
    background: #ffb74d;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    z-index:70
}
 .bun.head-dots_first {
    position: absolute;
    content: '';
    top: 1px;
    width: 14px;    
    height: 35px;
    background: #ffb74d;
    left: -20px;
    border-radius: 50% 0 50% 50%;
}
.bun.head-dots_second {
    position: absolute;
    content: '';
    top: 1px;
    width: 14px;    
    height: 35px;
    background: #ffb74d;
    left: 20px;
    border-radius: 0 50% 50% 50%;
}

.bun.ear {
    position: relative;
}
.bun.ear--left, 
.bun.ear--right {
    position: absolute;
    top: -38px;
    width: 150px;
    height: 150px;
    border: 5px solid  transparent;
    border-radius: 90% 0 90% 0;
    background: #ffcc80;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
}
.bun.ear--left {
    transform: 
        scale(-1, 1) 
        rotate(170deg);
    left: -14px;
}
.bun.ear--right {
    transform: rotate(170deg);
    left: 94px;
}
.bun.ear--left-inside, 
.bun.ear--right-inside {
    width: 108px;
    height: 108px;
    border-radius: 90% 0 90% 0;
    background: #e57373;
    z-index:50;
}

.bun.eye {
    position: absolute;
    top: 10px;
    left: -70px;
    display: flex;
}
.bun.eye--left, 
.bun.eye--right {
    width: 49px;
    height: 49px;
    background: #fff;
    border-radius: 50%;
    margin: 38px;
    z-index: 80;
}

.bun.eye span {
    position: absolute;
    top: 41px;
    width: 42px;
    height: 42px;
    background: #373737;
    border-radius: 50%;
    z-index: 200;
}
.bun.eye span::after {
    content: '';
    top: 8px;
    left: 8px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.bun.eye span::before {
    content: '';
    top: 20px;
    left: 8px;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.bun.eye span.bun.pupil-left {
    left: 42px;
}
.bun.eye span.bun.pupil-right {
    left: 166px;
}

.bun.nose {
    position: absolute;
    top: 110px;
    left: 40px;
    width: 0;
    height: 0;
    border-right: 14px solid rgba(255, 255, 255, 0);
    border-left: 14px solid rgba(255, 255, 255, 0);
    border-top: 14px solid #e57373;
    border-radius: 40%;
    z-index: 110;
}
.bun.mouth-contour {
    position: absolute;
    top: 80px;
    left: -23px;
    background: #fff3e0;
    width: 160px;
    height: 70px;
    -webkit-border-radius: 55% 55% 30% 30%;
    border-radius: 55% 55% 30% 30%;
    z-index:90;
}
.bun.mouth-left, 
.bun.mouth-right {
    position: absolute;
    top: 122px;
    width: 23px;
    height: 23px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid  #373737;
    border-right: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0);
    transform: rotate(-45deg);
    z-index:100
}
.bun.mouth-left {
    left: 30px;
}
.bun.mouth-right {
    left: 54px;
}

.bun.whiskers-left, 
.bun.whiskers-right {
    position: relative;
}
.bun.whiskers-left, 
.bun.whiskers-right, 
.bun.whiskers-left::after, 
.bun.whiskers-right::after, 
.bun.whiskers-left::before, 
.bun.whiskers-right::before {
    width: 32px;
    height: 5px;
    background: #373737;
    z-index:120;
}
.bun.whiskers-left::before, 
.bun.whiskers-right::before, 
.bun.whiskers-left::after, 
.bun.whiskers-right::after {
    content: '';
    position: absolute;
    left: 0;
}
.bun.whiskers-left {
    top: 112px;
    left: -8px;
}
.bun.whiskers-left::before {
    top: -16px;
    transform: rotate(15deg);
}
.bun.whiskers-left::after {
    top: 16px;
    transform: rotate(-15deg);
}
.bun.whiskers-right {
    top: 108px;
    left: 85px;
}
.bun.whiskers-right::before {
    top: -16px;
    transform: rotate(-15deg);
}
.bun.whiskers-right::after {
    top: 16px;
    transform: rotate(15deg);
}

.bun.body {
    position: relative;
}
.bun.chest {
    position: absolute;
    left: 60px;
    top: 45px;
    width: 120px;
    height: 110px;
    background: #ffcc80;
    border: 5px solid  transparent;
    border-radius: 70% 70% 20% 20%;
    z-index: 5;
}
.bun.chest_inner {
    content: '';
    position: absolute;
    top: 95px;
    left: 75px;
    width: 88px;
    height: 55px;
    border-radius: 50% 50% 20% 20%;
    background: #fff3e0;
    z-index: 10;
}

.bun.paw-left, 
.bun.paw-right {
    position: absolute;
    top: 95px;
    width: 28px;
    height: 48px;
    background: #ffcc80;
    border: none;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 30;
}
.bun.paw-left {
    left: 78px;
    border-radius: 10% 10% 45% 35%;
}
.bun.paw-right {
    left: 132px;
    border-radius: 10% 10% 35% 45%;
}

.bun.paw-right_rear,
.bun.paw-left_rear {
    content: '';
    position: absolute;
    top: 80px;
    width: 35px;
    height: 82px;
    background: #ffcc80;
    border-radius: 45%;
    border: 5px solid transparent;
    z-index: 20;
}
.bun.paw-left_rear {
    left: 35px;
    transform:
        rotateZ(-25deg);
}
.bun.paw-right_rear {
    left: 170px;
    transform:
        rotateZ(25deg);
}

.bun.tail {
    position: absolute;
    top: 105px;
    left: 170px;
    width: 50px;
    height: 50px;
    background: #ffcc80;
    border: 5px solid transparent;
    border-radius: 50%;
    z-index: 1;
}